body {
    font-family: 'Poppins',
        sans-serif;
    margin: 0;
}

h1 {
    font-size: 50px;
}

.color {
    color: brown;
}

section {
    display: flex;
}

.half-width {
    width: 50%;
    padding: 7%;

}

.half-width img {
    width: 75%;
}

.hire-me {
    text-decoration: none;
    background-image: linear-gradient(red, yellow);
    padding: 2%;
    border-radius: 5%;
    color: white;
    font-weight: 700;
}

.one {
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}

.two {
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}