body {
    font-family: 'Poppins',
        sans-serif;
    margin: 0;
}

h1 {
    font-size: 50px;
}

.color {
    color: brown;
}

.flex-area {
    display: flex;
}

.half-width {
    width: 50%;
    padding: 7%;

}

.half-width img {
    width: 75%;
}

.hire-me {
    text-decoration: none;
    background-image: linear-gradient(red, yellow);
    padding: 2%;
    border-radius: 5%;
    color: white;
    font-weight: 700;
}

.one {
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}

.two {
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}

.orange {
    color: brown;
}

.ex-item {
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
    padding: 5%;
    box-shadow: 10px 10px 40px gray;
}

.ex-area {
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;

}

#web-dev {
    border-left: 7px solid orangered;
}

#baby-dev {
    border-left: 7px solid blue
}

footer p {
    text-align: center;
}